<b>Hi @<%= @recipient.username %>!</b>

<p>
  <b><%= link_to "@#{@sender.username}", user_url(@sender) %></b> crushed on you.
  <%= link_to "View their profile", user_url(@sender) %> on <%= t(:brand) %>.
  (If you like them too, you can crush on them back.)
</p>

<p>
  <%= link_to user_url(@sender), user_url(@sender) %>
</p>
