<h1>Search</h1>

<%= form_tag "/people", method: :get, class: "form row", role: "search" do %>
  <%= label_tag :search, "Search", class: "sr-only" %>
  <div class="col-8">
    <div class="form-group">
      <%= search_field_tag :search, params[:search], class: "form-control", placeholder: "People search" %>
      </div>
  </div>

  <div class="col-4">
    <%= button_tag "Search", class: "btn btn-outline-success btn-block" %>
  </div>
  <hr>
<% end %>

<h1 class="mb-3">Filters</h1>

<h2>General Interests</h2>
<% Interest.all.each do |interest| %>
  <%= link_to interest.name, search_path(search: [:interests, interest.name]), class: "badge badge-default mr-1" %>
<% end %>

<h2 class="mt-4">Activities</h2>
<% Activity.all.each do |activity| %>
  <%= link_to activity.name, search_path(search: [:activities, activity.name]), class: "badge badge-success mr-1" %>
<% end %>

<h2 class="mt-4">Age Ranges</h2>
<% AgeRange.all.each do |age_range| %>
  <%= link_to age_range.name, search_path(search: [:age_ranges, age_range.name]), class: "badge badge-primary mr-1" %>
<% end %>
