<div id="conversation" class="h-feed">
  <div class="page-header">
    <h1>
      Coversation with
      <% if @user.name.present? %>
        <%= link_to @user.name, person_path(@user.username) %>
        (<%= link_to "@#{@user.username}", person_path(@user.username) %>)
      <% else %>
        <%= link_to @user.username, person_path(@user.username) %>
      <% end %>
    </h1>
  </div>

  <ol class="messages list list-unstyled">
    <% @messages.each_with_index do |message, index| %>

      <li class="media mb-5">
        <div class="d-flex align-self-start mr-3">
          <%= image_tag message.sender.avatar(:avatar) %>
        </div>

        <div class="media-body">
          <p><time class="dt-published text-muted" datetime="<%= message.created_at.xmlschema %>"><%= message.created_at.strftime("%Y-%m-%d %I:%M%P") %></time></p>

          <%= user_inputed_text(message.body).html_safe %>
        </div>
      </li>

    <% end %>
  </ol>

  <div id="reply">
    <h1>Reply</h1>
    <%= render "/messages/form" %>
  </div>
</div>
