<h1>
  <%= link_to_unless_current label.pluralize, [:admin, label.pluralize.downcase] %>
</h1>

<p>
  <% if action_name == "index" %>
    <%= link_to "NEW", [:new, :admin, label.downcase], class: "btn btn-primary btn-sm action-new" %>
  <% elsif action_name == "show" %>
    <%= link_to "EDIT", [:edit, :admin, thing], class: "btn btn-primary btn-sm action-edit" %>
  <% end %>
</p>

<% if action_name == "edit" %>
  <h2>
    Editing
    <%= link_to [:admin, thing] do %>
      <%= label %> &mdash;
      <%= thing.name %>
    <% end %>
  </h2>
<% end %>

<% if action_name == "new" %>
  <h2>
    New
    <%= label %>
  </h2>
<% end %>
