<% if mine? %>

  <%= link_to new_photo_path, class: "btn btn-success mb-1" do %>
    <%= fa_icon "picture-o" %><span class="hidden-xs-down">&nbsp;&nbsp;Add photo</span>
  <% end %>

  <%= link_to settings_path, class: "btn btn-secondary mb-1" do %>
    <%= fa_icon :gear, class: "fa-lg" %><span class="hidden-xs-down">&nbsp;&nbsp;Edit profile</span>
  <% end %>

  <%= link_to conversations_path, class: "btn btn-secondary mb-1" do %>
    <%= fa_icon :envelope, class: "fa-lg #{'text-danger' if unread_count}" %>
    <% if unread_count %><span class="label label-danger"><%= unread_count %></span><% end %>
    <span class="hidden-xs-down <%= 'text-danger' if unread_count %>">&nbsp;&nbsp;Messages</span>
  <% end %>

<% else %>

  <div class="actions">

    <span class="btn-group">
      <%# MESSAGE BUTTON %>
      <%= link_to fa_icon(:comment), new_message_path(username: user.username), class: "btn btn-info message" %>

      <%# BOOKMARK BUTTON %>
      <% hide_show = im.bookmarking?(user) ? ["block", "none"] : ["none", "block"] %>

      <%# bookmarked %>
      <div class="btn-group">
        <%= link_to fa_icon(:star, class: "text-primary"),
                    action_unbookmark_path(user.username),
                    method:            :delete,
                    id:                "unbookmark",
                    class:             "bookmark form-inline btn btn-default",
                    "data-username" => user.username,
                    style:             "display: #{hide_show.first}" %>
      </div>

      <%= link_to fa_icon(:star),
                  action_bookmark_path(user.username),
                  method:            :post,
                  id:                "new_secret_crush",
                  class:             "bookmark form-inline btn btn-primary",
                  "data-username" => user.username,
                  style:             "display: #{hide_show.last}" %>


      <%# CRUSH BUTTON %>
      <% hide_show = im.crushing_on?(user) ? ["block", "none"] : ["none", "block"] %>

      <%= link_to uncrush_path(user.username),
                  class:             "crush btn btn-secondary",
                  "data-username" => user.username,
                  method:            :delete,
                  style:             "display: #{hide_show.first}" do %>

        <strong class="text-danger">
          <%= fa_icon :heart %>
          Un-YASS
        </strong>
      <% end %>

      <%= link_to crush_path(user.username),
                  class: "crush btn btn-danger",
                  "data-username" => user.username,
                  method:            :post,
                  style:             "display: #{hide_show.last}" do %>
        <%= fa_icon :heart %>&nbsp;&nbsp;YASS
      <% end %>

    </span>
  </div><!-- .actions -->

<% end %>
