<div class="actions mb-3">

  <% if mine?(user) %>

    <%= link_to new_photo_path, class: "btn btn-success" do %>
      <%= fa_icon "picture-o" %>
      <span class="hidden-xs-down">&nbsp;<%= t "buttons.add_photo_button_text" %></span>
    <% end %>

    <%= link_to settings_path, class: "btn" do %>
      <%= fa_icon :gear, class: "fa-lg" %>
      <span class="hidden-xs-down">&nbsp;<%= t "buttons.edit_profile_button_text" %></span>
    <% end %>

    <%= link_to conversations_path, class: "btn" do %>
      <%= fa_icon :envelope, class: "fa-lg #{'text-danger' if unread_count}" %>
      <% if unread_count %><span class="label label-danger"><%= unread_count %></span><% end %>
      <span class="hidden-xs-down <%= 'text-danger' if unread_count %>">&nbsp;<%= t "buttons.view_messages_button_text" %></span>
    <% end %>

  <% else %>

    <span class="btn-group">
      <%# MESSAGE BUTTON %>
      <%= link_to new_message_path(username: user.username), class: "btn btn-info message" do %>
        <%= fa_icon(:comment) %>
        &nbsp; <span class="hidden-xs-down"><%= t "buttons.send_message_button_text_verb" %></span> <%= t "buttons.send_message_button_text_object" %>
      <% end %>

      <%# BOOKMARK BUTTON %>
      <% hide_show = im.bookmarking?(user) ? ["block", "none"] : ["none", "block"] %>

      <%# bookmarked %>
      <div class="btn-group">
        <%= link_to action_unbookmark_path(user.username),
                    method:            :delete,
                    id:                "unbookmark",
                    class:             "bookmark form-inline btn btn-default",
                    "data-username" => user.username,
                    style:             "display: #{hide_show.first}" do %>
          <%= fa_icon(:check, class: "text-primary") %>
          <span class="hidden-xs-down">&nbsp;<%= t "buttons.unbookmark_button_text" %></span>
        <% end %>
      </div>

      <%= link_to action_bookmark_path(user.username),
                  method:            :post,
                  id:                "new_secret_crush",
                  class:             "bookmark form-inline btn btn-primary",
                  "data-username" => user.username,
                  style:             "display: #{hide_show.last}" do %>
        <%= fa_icon(:check) %>
        <span class="hidden-xs-down">&nbsp;<%= t "buttons.add_bookmark_button_text" %></span>
      <% end %>


      <%# CRUSH BUTTON %>
      <% hide_show = im.crushing_on?(user) ? ["block", "none"] : ["none", "block"] %>

      <%= link_to uncrush_path(user.username),
                  class:             "crush btn",
                  "data-username" => user.username,
                  method:            :delete,
                  style:             "display: #{hide_show.first}" do %>

        <span class="text-danger"><%= fa_icon :heart %>&nbsp;<%= t "buttons.unyass_button_text" %></span>
      <% end %>

      <%= link_to crush_path(user.username),
                  class: "crush btn btn-danger",
                  "data-username" => user.username,
                  method:            :post,
                  style:             "display: #{hide_show.last}" do %>
        <%= fa_icon :heart %>&nbsp;<%= t "buttons.yass_button_text" %>
      <% end %>

    </span>

  <% end %>

</div><!-- .actions -->
