<div class="person">

  <%= link_to_avatar(user, @avatar_size) %>

  <% if user.name.present? %>
    <span class="p-name"><%= link_to user.name, person_path(user.username) %></span>
    (<span class="p-nickname"><%= link_to user.username, person_path(user.username) %></span>)
  <% else %>
    <span class="p-name">
      <%= link_to user.username, person_path(user.username) %>
    </span>
  <% end %>

  <p class="p-adr h-adr">
    <%= link_to google_map_url(user) do %>
      <% unless user.location.blank? %>
        <span class="p-locality"><%= user.location %></span>
      <% end %>
    <% end %>
  </p>

</div> <!-- .person -->
