<div class="page-header">
  <% if @query %>
    <h1>
      <% if %w(diets straightedgeness).include? @column %>
        <%= link_to @column.capitalize, send("#{@column}_path") %> :
      <% else %>
        Search :
      <% end %>

      <%= @query.capitalize %>
      <small>(<%= @total %>)</small>
    </h1>
  <% else %>
    <h1>Everyone</h1>
  <% end %>
</div>

<%= render "/users/listing", users: @users %>

<div class="col-sm-12" id="pagination">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>
