<%# Search Results Page %>
<% if @query %>
  <h1>
    <% if %w(labels).include? @column %>
      <%= link_to @column.capitalize, send("#{@column}_path") %> :
    <% else %>
      Search :
    <% end %>

    <%= @query.capitalize %>
    <small>(<%= @total %>)</small>
  </h1>

  <%= render "/users/listing", users: @users %>

  <div class="col-sm-12" id="pagination">
    <%#= will_paginate users, renderer: BootstrapPagination::Rails %>
  </div>

<% else %>
  <%# People Matcher Page %>

  <% @users.each_with_index do |user, index| %>
    <div class="h-card person-card mb-5" data-username="<%= user.username %>" <%= 'style="display: none"'.html_safe unless index.zero? %>>
      <%= image_tag(user.avatar(@avatar_size), class: "u-photo", alt: user.username) %>

      <h1>
        <% if user.name.present? %>
          <span class="p-name"><%= user.name %></span>
          (<span class="p-nickname"><%= "@#{user.username}" %></span>)
        <% else %>
          <span class="p-name"><%= link_to user.username, person_path(user.username) %></span><%= render "users/age", user: user %>
        <% end %>

        <small><%= user.age %></small>
      </h1>

      <% if labels_list(user, :interests).present? %>
        <p>
          <%= labels_list(user, :interests, classes: "badge badge-default mr-1", limit: 3) %>
        </p>
      <% end %>

      <% if labels_list(user, :activities).present? %>
        <p>
          <%= labels_list(user, :activities, classes: "badge badge-info mr-1") %>
        </p>
      <% end %>

      <div class="actions row">
        <div class="col">
          <%= link_to  people_path,
                       "data-username" => user.username,
                       class: "next btn btn-lg btn-secondary btn-block" do %>

            <%= fa_icon "arrow-left", class: "fa-lg mr-2" %>
            <span class="hidden-xs-down">Next</span>
          <% end %>
        </div>

        <div class="col">
          <%= link_to action_bookmark_path(user.username),
                      method:            :post,
                      id:                "new_secret_crush",
                      class:             "bookmark form-inline btn btn-lg btn-primary btn-block",
                      "data-username" => user.username do %>
            <%= fa_icon :check, class: "fa-lg" %>
            <span class="hidden-xs-down">Bookmark</span>
          <% end %>
        </div>

        <div class="col">
          <%= link_to crush_path(user.username),
                      class: "crush btn btn-lg btn-danger btn-block",
                      "data-username" => user.username,
                      method:            :post do %>
            <%= fa_icon :heart, class: "fa-lg mr-2" %>
            <span class="hidden-xs-down">YASS</span>
          <% end %>
        </div>
      </div><!-- .actions -->

      <div id="flags" class="mt-5 mb-5">
        <% if not_mine?(user) %>
          <div class="row">
            <div class="col">
              <% if flagged?(user) %>

                <%= unflag_button user, class: "delete-flag btn btn-block btn-warning mb-3" %>

              <% else %>

                <%= form_for RedFlag.new, url: flag_path(user.id) do |f| %>
                  <%= f.hidden_field :flaggable_type, value: "User" %>

                  <button class="btn btn-secondary btn-block mb-3" type="submit">
                    <b class="text-warning">
                      <%= fa_icon "flag-o" %>
                      Flag @<%= user.username %> as inappropriate
                    </b>
                  </button>
                <% end %>

              <% end %>
            </div>

            <div class="col">
              <% if blocked?(user) %>

                <%= link_to action_unblock_path(user.username), method: :delete, class: "btn btn-danger btn-block mb-3" do %>
                  <%= fa_icon :ban %> Unblock @<%= user.username %>
                <% end %>

              <% else %>

                <%= link_to action_block_path(user.username), method: :post, class: "btn btn-secondary btn-block mb-3" do %>
                  <b class="text-danger">
                    <%= fa_icon :ban %>
                    Block @<%= user.username %>
                  </b>
                <% end %>

              <% end %>
            </div>

          </div>
        <% end %>
      </div><!-- #flags -->

    </div>
  <% end %>

  <div class="h-card person-card mb-5 text-center" style="display: none">
    <h1>No more people!</h1>
  </div>

<% end %>
