<footer role="contentinfo" class="my-5 col-md-6 offset-md-3 col-sm-12">
  <% if @slug =~ /welcome|settings/ %>
    <ul class="list-unstyled">
      <li><%= link_to t("footer.footer_link_about", brand: t(:brand), founder_name: t(:founder_name)), about_path,           class: "nav-link d-inline-block" %></li>
      <li><%= link_to t("footer.footer_link_contact_us"),                                              contact_path,         class: "nav-link d-inline-block" %></li>
      <li><%= link_to t("footer.footer_link_tips_and_tricks"),                                         tips_path,            class: "nav-link d-inline-block" %></li>
      <li><%= link_to t("footer.footer_link_terms"),                                                   terms_path,           class: "nav-link d-inline-block" %></li>
      <li><%= link_to t("footer.footer_link_privacy_policy"),                                          privacy_path,         class: "nav-link d-inline-block" %></li>
      <li><%= link_to t("footer.footer_link_code_of_conduct"),                                         code_of_conduct_path, class: "nav-link d-inline-block" %></li>
    </ul>
  <% end %>

  <% if logged_in? %>
    <ul class="list-unstyled mt-5">

      <% if admin? %>
        <li class="nav-item">
          <%= link_to "ADMIN Dashboard", admin_dashboard_path, class: "nav-link btn-danger" %>
        </li>
      <% end %>

      <li class="nav-item">
        <%= link_to_unless_current t("buttons.signout_link_text"), signout_path, class: "nav-link d-inline-block" %>
      </li>

    </ul>
  <% end %>
</footer>
