<footer role="contentinfo" class="my-5 col-md-6 offset-md-3 col-sm-12">
  <ul class="list-unstyled">
    <li><%= link_to "About #{t(:brand)}", about_path,           class: "nav-link d-inline-block" %></li>
    <li><%= link_to "Tips and Tricks",    tips_path,            class: "nav-link d-inline-block" %></li>
    <li><%= link_to "Terms",              terms_path,           class: "nav-link d-inline-block" %></li>
    <li><%= link_to "Privacy Policy",     privacy_path,         class: "nav-link d-inline-block" %></li>
    <li><%= link_to "Code of Conduct",    code_of_conduct_path, class: "nav-link d-inline-block" %></li>
  </ul>

  <% if logged_in? %>
    <ul class="list-unstyled mt-5">

      <% if admin? %>
        <li class="nav-item">
          <%= link_to "ADMIN Dashboard", admin_dashboard_path, class: "nav-link btn-danger" %>
        </li>
      <% end %>

      <li class="nav-item">
        <%= link_to_unless_current "Sign Out", signout_path, class: "nav-link d-inline-block" %>
      </li>

    </ul>
  <% end %>
</footer>
