<nav class="navbar navbar-toggleable-xl navbar-light bg-faded">
  <div class="col-md-6 offset-md-3 col-sm-12">

    <% if logged_in? %>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item mr-auto">
          <%= link_to fa_icon(:user, class: "fa-lg"),   person_path(current_user.username), class: "nav-link" if current_user.username.present? %>
        </li>

        <li class="nav-item mx-auto">
          <%= link_to fa_icon(:users, class: "fa-lg"),  people_path, class: "nav-link" %>
        </li>

        <li class="nav-item ml-auto">
          <%= link_to fa_icon(:search, class: "fa-lg"), people_search_path, class: "nav-link" %>
        </li>
      </ul>

    <% end %>

  </div><!-- .container -->
</nav>

<header role="banner" class="mb-2 mb-sm-5">
  <h1 class="my-4 col-md-6 offset-md-3 col-sm-12"><%= t :brand %></h1>
</header>







<% if false %>

<nav class="navbar navbar-toggleable-xl navbar-light bg-faded mb-2 mb-sm-5">
  <div class="container">

    <% if logged_in? %>
      <%= link_to root_path, rel: "home", class: "navbar-brand" do %>
        <span class="sr-only">Home</span>
        <%= fa_icon :home, class: "fa-lg" %>
      <% end %>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to fa_icon(:user, class: "fa-lg"), person_path(current_user.username), class: "nav-link" if current_user.username.present? %>
        </li>

        <li class="nav-item">
          <%= link_to conversations_path, class: "nav-link" do %>
            <%= fa_icon :envelope, class: "fa-lg" %>
            <% if unread_count %><span class="label label-danger"><%= unread_count %></span><% end %>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to fa_icon(:gear, class: "fa-lg"), settings_path, class: "nav-link" %>
        </li>
      </ul>

      <% if admin? %>
        <%= link_to admin_dashboard_path, class: "nav-link" do %>
          <span class="badge badge-pill badge-danger">
            ADMIN
            <span class="hidden-xs-down">Dashboard</span>
          </span>
        <% end %>
      <% end %>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-1">
          <%= link_to fa_icon(:users, class: "fa-lg"), people_path, class: "nav-link mt-sm-1 mt-md-2" %>
        </li>

        <li class="nav-item ml-1">
          <%= form_tag "/people", method: :get, class: "form-inline", role: "search" do %>
            <%= label_tag :search, "Search", class: "sr-only" %>
            <%= search_field_tag :search, params[:search], class: "form-control mr-sm-2 text-right text-md-left", placeholder: "People search" %>

            <%= button_tag "Search", class: "btn btn-outline-success my-2 my-sm-down-0 hidden-sm-down" %>
          <% end %>
        </li>
      </ul>

    <% else %>

      <div class="navbar-brand">
        <%= link_to t(:brand), root_path, rel: "home" %> —
        <%= t(:tagline) %>
      </div>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-1 hidden-sm-down">
          <span class="nav-link">Sign in to get started</span>
        </li>
        <li class="nav-item ml-1">
          <%= button_to_sign_in_with(:twitter) %>
        </li>
        <li class="nav-item ml-1">
          <%= button_to_sign_in_with(:facebook) %>
        </li>
      </ul>

    <% end %>

  </div><!-- .container -->
</nav>

<% end %>
