<div class="row mb-5">
  <div class="col-sm-12">

    <div class="page-header">
      <h1 class="h4">
        <%= t("dashboard.matches_heading_less") %>
        <small class="d-block d-sm-inline-block">
          <%= t("dashboard.matches_heading_more") %>
        </small>
      </h1>
    </div>

    <% if @matches.any? %>
      <%= render "/users/listing", users: @matches %>
    <% else %>
      <%= render_markdown t("dashboard.no_matches_yet") %>

      <%= render_markdown t("dashboard.no_matches_yet_tip_heading") %>

      <ul>
        <li><%= t("dashboard.no_matches_yet_tip_1") %></li>
        <li><%= t("dashboard.no_matches_yet_tip_2") %></li>
        <li><%= t("dashboard.no_matches_yet_tip_3") %></li>
      </ul>
    <% end %>
  </div>
</div><!-- .row -->


<div class="row mb-5">
  <div class="col-sm-12">
    <div class="page-header">
      <h1 class="h4">
        <%= t("dashboard.bookmarks_heading_less") %>
        <small class="d-block d-sm-inline-block">
          <%= t("dashboard.bookmarks_heading_more") %>
        </small>
      </h1>
    </div>

    <% if @bookmarked_users && @bookmarked_users.any? %>
      <%= render "/users/listing", users: @bookmarked_users %>
    <% else %>
      <%= t("dashboard.bookmarks_explanation") %>
    <% end %>
  </div>
</div><!-- .row -->
