<div id="preview"><%= image_tag @photo.image_url(:medium).to_s %></div>

<div id="controls">
  <%= link_to "#rotate-left",  class: "image-manipulator btn btn-default" do %>
    <%= fa_icon "rotate-left" %>
    <span class="control-label hidden-xs-down">Rotate -90&deg;</span>
  <% end %>
  <%= link_to "#rotate-right", class: "image-manipulator btn btn-default" do %>
    <%= fa_icon "rotate-right" %>
    <span class="control-label hidden-xs-down">Rotate  90&deg;</span>
  <% end %>
  <%= link_to "#flip-vertical", class: "image-manipulator btn btn-default" do %>
    <%= fa_icon "arrows-v" %>
    <span class="control-label hidden-xs-down">Flip Vertical</span>
  <% end %>
  <%= link_to "#flip-horizontal", class: "image-manipulator btn btn-default" do %>
    <%= fa_icon "arrows-h" %>
    <span class="control-label hidden-xs-down">Flip Horizontal</span>
  <% end %>
</div>

<%= form_for @photo, html: { class: "form" } do |f| %>
  <div id="photo_manipulate" data-rotate=0></div>
  <div class="form-group">
    <%= f.label     :caption, "Caption" %>
    <%= f.text_area :caption, autocapitalize: "sentences", class: "form-control" %>
  </div>

  <% unless @photo.avatar? %>
    <div class="checkbox">
      <label>
        <%= f.check_box :avatar %>
        Use as my profile photo
      </label>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Save Photo", data: {disable_with: "Saving…".html_safe}, class: "btn btn-success btn-block btn-lg" %>
  </div>
<% end %>


<%= button_to t("photos.delete_button_text"),
              @photo,
              method:  :delete,
              data:    { confirm: t("photos.delete_button_confirmation_text") },
              class:   "btn btn-danger btn-block btn-lg" %>
