<div class="page-header">
  <h1>Sponsorships</h1>
</div>

<div class="col-12">
  <h2 class="h4">We&rsquo;re launching Sponsorships on Kypsy.</h2>

  <p>
    The plan is very simple (and <a href="http://decknetwork.net" title="The DECK | The premier ad network for reaching web, design &amp; creative professionals">not <em>terribly</em> original</a>). We have a limited number of sponsorships open each month. Sponsors pay a flat monthly rate. (Neither we nor sponsors have to worry about the number of views or clicks.) Each sponsorship gets displayed an equal number of times that month. All of our stats are published for anyone to see (and we plan to add more). We&rsquo;re starting at <strong>$100 / month</strong> with <strong>6 open spots</strong>.
    Email <strong><%= mail_to "us@kypsy.com" %></strong> to get this party started.
  </p>
</div>

<div class="row">
  <div class="col-sm-4">
    <%= render "/shared/sponsor_1" %>
  </div>

  <div class="col-sm-4">
    <%= render "/shared/empty_sponsor" %>
  </div>

  <div class="col-sm-4">
    <%= render "/shared/empty_sponsor" %>
  </div>
</div> <!-- .row -->

<div class="row">
  <% 3.times do %>
    <div class="col-sm-4">
      <%= render "/shared/empty_sponsor" %>
    </div>
  <% end %>
</div> <!-- .row -->


