<style>
  h2,
  h3 {
    text-align: center;
    text-transform: uppercase;
  }

  h2 {
    font-size: 4em;
  }

  h3 {
    font-size: 1.5em;
    font-weight: normal;
    color: #999;
  }
</style>


<div class="page-header">
  <h1>Total Stats</h1>
</div>

<%= render partial: "primary_stats_grid", locals: { group: @total_stats } %>

<div class="page-header">
  <h1>Today&rsquo;s Stats</h1>
</div>

<%= render partial: "primary_stats_grid", locals: { group: @today_stats } %>

<!--
<h2><%= number_with_delimiter @total_redflags %></h2>
<h3>Red Flags</h3>
-->


<div class="page-header">
  <h1>People Stats</h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="well">
      <h2><%= number_with_delimiter User.kids.count %></h2>
      <h3>Kids</h3>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="well">
      <h2><%= number_with_delimiter User.adults.count %></h2>
      <h3>Adults</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="well">
      <h2><%= number_with_delimiter User.visible.count %></h2>
      <h3>Visible</h3>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="well">
      <h2><%= number_with_delimiter User.invisible.count %></h2>
      <h3>Invisible</h3>
    </div>
  </div>
</div>
