<h1>Tips and Tricks</h1>

<p>
  We’ve intentionally kept <b><%= t(:brand) %></b> very simple.
  You can only do a few things with other people on this site.
  We believe that a website should stay out of the way.
</p>
<p>
  Find people, look at their high-level labels, then message them.
  Talk to other humans, find out if you’re a good match, then go on a date.
</p>

    <h2 class="h3">Actions</h2>
    <table class="table">
      <tr>
        <th><span class="btn btn-lg btn-info"><%= fa_icon :comment, class: "fa-lg" %></span></th>
        <td>
          <h3 class="h4">Message</h3>
          <p>If you want to start talking with someone, this button will start a conversation. Keep it positive. Be friendly. Have fun.</p>
        </td>
      </tr>

      <tr>
        <th><span class="btn btn-lg btn-default"><%= fa_icon :heart, class: "fa-lg text-danger" %></i></span></th>
        <td>
          <h3 class="h4">YASS</h3>
          <p>If you think you like someone, YASS on them. This button will let them know that you YASSed them. It'll also put them in your list of YASSes for future visits. Only you and they can see this.</p>
        </td>
      </tr>

      <tr>
        <th><span class="btn btn-lg btn-danger"><%= fa_icon :heart, class: "fa-lg" %></span></th>
        <td>
          <h3 class="h4">Un-YASS</h3>
          <p>If you change your mind later, that’s okay. This button will remove your YASS.</p>
        </td>
      </tr>

      <tr>
        <th><span class="btn btn-lg btn-default"><%= fa_icon :check, class: "fa-lg text-primary" %></span></th>
        <td>
          <h3 class="h4">Bookmark</h3>
          <p>A bookmark is like a secret YASS. They'll be saved to your list for future visits, but they won't know that you're YASSing on them. (Don't be a creep, though.) Only you can see this.</p>
        </td>
      </tr>

      <tr>
        <th><span class="btn btn-lg btn-primary"><%= fa_icon :check, class: "fa-lg" %></span></th>
        <td>
          <h3 class="h4">Un-Bookmark</h3>
          <p>Just like the un-YASS button, this will remove your bookmark. No harm, no foul.</p>
        </td>
      </tr>

      <tr>
        <th><span class="btn btn-lg btn-default"><%= fa_icon "flag-o", class: "fa-lg text-warning" %></span></th>
        <td>
          <h3 class="h4">Flag As Inappropriate</h3>
          <p>If a photo or person feels out of line to you, let us know and we'll look into it.</p>
        </td>
      </tr>

      <tr>
        <th><span class="btn btn-lg btn-warning"><%= fa_icon :flag, class: "fa-lg" %></span></th>
        <td>
          <h3 class="h4">Un-Flag As Inappropriate</h3>
          <p>Just like the un-YASS button, this will remove your flagging of inappropriateness. No harm, no foul.</p>
        </td>
      </tr>

      <tr>
        <th><span class="btn btn-lg btn-default"><%= fa_icon :ban, class: "fa-lg text-danger" %></span></th>
        <td>
          <h3 class="h4">Block</h3>
          <p>If you really don't want to ever see a person, you can block them.</p>
        </td>
      </tr>

      <tr>
        <th><span class="btn btn-lg btn-danger"><%= fa_icon :ban, class: "fa-lg" %></span></th>
        <td>
          <h3 class="h4">Un-Block</h3>
          <p>To unblock someone, you have to go directly to their profile and click the unblock button.</p>
        </td>
      </tr>
    </table>

    <h2 class="h3">Profiles</h2>
    <table class="table">
      <tr>
        <th><span class="btn btn-lg btn-success"><%= fa_icon "picture-o", class: "fa-lg" %></span></th>
        <td>
          <h3 class="h4">Photos</h3>
          <p>Let’s be honest. We use the web to look at photos of each other. We all hope to find someone who is attractive to us, and that finds us attractive. So, add lots of good photos of you to your profile.</p>
        </td>
      </tr>

      <tr>
        <th><span class="btn btn-lg btn-default"><%= fa_icon :user, class: "fa-lg" %></span></th>
        <td>
          <h3 class="h4">Personal Details</h3>
          <p>We ask very few questions about you for your profile. The best bios profiles are the most complete ones. You can use the free-form text bio to tell people more than the very high-level statistics. <em>What’s your story?</em></p>
        </td>
      </tr>
    </table>
