<div class="col-sm-6 mt-5 mb-4">
  <%= image_tag "maxi-small.jpg" %>
</div>

<h1>About <%= t :brand %> and <%= t :founder_name %></h1>

<p>I understand. It’s not that easy to make friends as adults!</p>

<p>I understand because I am an expat who moved to a new country as an adult — barely knowing anything or anyone in the U.S.</p>

<p>That’s why I am creating <%= t :brand %>. For women like me. To make it easier and more fun for myself and for my fellow ladies to enjoy lives better together, get to know each other on a deeper level, survive, and thrive together.</p>

<p>As a lot of you may know, in the last year or so, more than a few friendship apps have launched. But I haven’t quite seen one that people swear by as being truly useful and helpful.</p>

<p>I am determined to make <%= t :brand %> truly useful for women by molding it into something that is authentically useful to me now and could have been useful for me 10 years ago as a new immigrant. And for me to make it happen, I need your feedback. 😀</p>

<p><u><%= t :brand %> is in testing now as a web prototype — to become an app where only <b>women</b> can join and bond with each other <b>based on shared interests and activities</b>.</u></p>

<p>Whether it’s a new hobby, new phase, new place, or whatever else is going on in your life, <u>try <%= t :brand %> out, make some friends to experience them with, and let me know what you do, don’t, or would like in <%= t :brand %>!</u> Let’s turn <%= t :brand %> into a useful tool for ourselves!</p>

<p>Let’s do this, ladies. 😀</p>

<p><i>With love,</i></p>

<p><b><%= t :founder_name %>, the creator of <%= t :brand %></b></p>
