<!DOCTYPE html>

<html dir="ltr" lang="en" id="<%= @slug %>">

<%= render "shared/head" %>

<body>
  <%= render "shared/header" %>

  <section role="main" class="col-md-6 offset-md-3 col-sm-12">
    <% if show_update_profile? %>
      <p class="alert alert-success">
        Completed profiles have the best success.
        <b><%= link_to "Go update yours now! →", settings_path, class: "alert-link" %></b>
      </p>
    <% end %>

    <%= render "shared/flashes" %>

    <%= yield %>
  </section>

  <%= render "shared/footer" %>

  <%= render "shared/foot" %>
</body>
</html>
