<!DOCTYPE html>

<html dir="ltr" lang="en" id="<%= @slug %>">

<%= render partial: "/shared/head" %>

<body>
  <%= render partial: "/shared/header" %>

  <section role="main" class="container">
    <% unless logged_in? || controller_name == "welcome" %>
      <%= render partial: "/shared/social_posting_info" %>
    <% end %>

    <% if show_update_profile? %>
      <p class="alert alert-success">
        Completed profiles have the best success.
        <b><%= link_to "Go update yours now! →", settings_path, class: "alert-link" %></b>
      </p>
    <% end %>

    <%= render partial: "/shared/flashes" %>

    <%= yield %>
  </section>

  <footer role="contentinfo" class="container my-5">
    <ul class="nav flex-column">
      <li class="nav-item"><%= link_to "About #{t(:brand)}", about_path,   class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Terms",              terms_path,   class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Privacy Policy",     privacy_path, class: "nav-link" %></li>

      <% if logged_in? %>
        <li class="nav-item"><%= link_to_unless_current "Sign Out", signout_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </footer>

  <%= render partial: "/shared/foot" %>
</body>
</html>
